<!DOCTYPE html>
<html ng-app="thefuseproject">
<head>
    <title>thefuseproject</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=10; IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />

    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />
    <link type="text/css" rel="stylesheet" href="app.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/i18n/angular-locale_de-ch.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.2/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/de.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/4.0.6/rx.all.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>

<body ng-controller="AppViewModel as app">
    <header>
    </header>
    
    <main ng-cloak>
        <div class="container">
            <h1>LISP Image Treeview</h1>
            <div ng-repeat="entry in app.rootEntry.entries">
                <div ng-include="'entry.html'" />
            </div>
        </div>
    </main>
    
    <footer>
    </footer>
    <script type="text/ng-template" id="entry.html">
        <span ng-if="entry.isDir === true && !entry.expanded" ng-click="app.expand(entry)">
            <span class="glyphicon glyphicon-chevron-right"></span> 
        </span>
        <span ng-if="entry.isDir === true && entry.expanded" ng-click="app.collapse(entry)">
            <span class="glyphicon glyphicon-chevron-down"></span> 
        </span>
        <span ng-if="entry.isDir === false">
            <span class="glyphicon glyphicon-file"></span> 
        </span>
        <span ng-if="entry.isDir === null">
            <span class="glyphicon glyphicon-transfer"></span> 
        </span>
        <span ng-if="entry.isSymLink === true">
            <span class="glyphicon glyphicon-arrow-right"></span> 
        </span>
        {{entry.name}}
        <div ng-repeat="entry in entry.entries">
            <div ng-include="'entry.html'" style="margin-left: 16px" />
        </div>
    </script>
</body>
</html>