html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1 {
    margin-bottom: 25px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.navbar-default {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    border-color: rgba(255,255,255,.8);
    background-color: rgba(255,255,255,.6);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand #logo {
    height: 95px;
    position: relative;
    top: -28px;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
    background-color: transparent;
}

.navbar-default .navbar-text {
    color: #000000;
}

.navbar-default #langswitch .dropdown-menu {
    width: 40px;
}

.navbar-default #langswitch .dropdown-menu li a {
    cursor: pointer; 
}

@media(min-width:0px) {
    .navbar-default {
        border-color: #000;
    }
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.6);
        background-color: rgba(255,255,255,.4);
    }
}

header {
    margin-bottom: 20px;
    
    position: relative;
    width: 100%;
    height: 500px;
    text-align: center;
    color: #fff;
    background-image: url(./img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

main {
    margin-bottom: 20px;
}

@media(min-width:768px) {
    header {
        height: 300px;
    }
}

.overview-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.overview-box img {
    width: 100%;
}

.overview-box .overview-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.overview-box .overview-box-caption .overview-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.overview-box .overview-box-caption .overview-box-caption-content .project-name,
.overview-box .overview-box-caption .overview-box-caption-content .project-details {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.overview-box .overview-box-caption .overview-box-caption-content .project-name {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.overview-box .overview-box-caption .overview-box-caption-content .project-details {
    font-size: 14px;
}

.overview-box:hover .overview-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .overview-box .overview-box-caption .overview-box-caption-content .project-name {
        font-size: 22px;
    }
    
    .overview-box .overview-box-caption .overview-box-caption-content .project-details {
        font-size: 16px;
    }
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.text-primary {
    color: #f05f40;
}

.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f05f40;
    background-color: #f05f40;
}

.row.no-gutter {
    padding-right: 15px;
    padding-left: 15px;
}

.row.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

input.ng-invalid {
    background-color: rgba(255,0,0,0.1);
}